.container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.container .button {
  display: flex;
  background-color: lightblue;
  justify-content: center;
  color: white;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  box-shadow: 1px 1px 2px grey;
  transition: .3s ease all;

}

.container .button:hover {
  box-shadow: 0px 0px 2px grey;
  background-color: #a7c8ea;
}